/*----------------
    workspaces
----------------*/

#custom-left_div.1,
#custom-right_div.1 {
	color: @workspaces;
}
#workspaces {
	padding: 0 1px;
	background-color: @workspaces;
}
#workspaces button.focused label {
	color: @accent;
}

#workspaces button.active label {
	color: @workspace-active;
}

#workspaces button.urgent {
  color: @workspace-urgent;
}


/*------------------
    window title
------------------*/

#window {
	margin: 0 12px;
}

/*----------------
    tray
----------------*/

#tray {
}
/* for the context menu */
#tray menu {
	padding-top: 25px;
}
#tray menu menuitem {
	padding: 10px 20px;
	background-color: @hover-bg;
}
#tray menu menuitem:first-child {
	border-radius: 16px 16px 0px 0px;
}
#tray menu menuitem:last-child {
	border-radius: 0px 0px 16px 16px;
}
#tray menu menuitem:hover {
  background-color: @accent;
}

#tray menu menuitem:hover label {
	color: @crust;
}
/* for icons */
#tray widget>image {
  padding-right: 8px;
}

/* for icons with status Passive */
#tray > .passive {
}
/* for icons with status Active */
#tray > .active {
}
/* for icons with status NeedsAttention */
#tray > .needs-attention {
	color: @warning;
}
